Infracciones/src/conf/xml-resources/web-service-references/Service1/wsdl/lacielsa.somee.com/ServiceReniec/Service1.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceGenes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceGenes"><xs:complexType name="CompositeType"><xs:sequence><xs:element minOccurs="0" name="BoolValue" type="xs:boolean"/><xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="CompositeType" nillable="true" type="tns:CompositeType"/><xs:complexType name="Persona"><xs:sequence><xs:element minOccurs="0" name="v_direccion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="v_dni" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="v_fec_nac" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="v_nombre" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Persona" nillable="true" type="tns:Persona"/></xs:schema>